<h1>Editing Dog</h1>

<%= render 'form', dog: @dog %>

<br>

<div class="btn btn-primary text-white">
    <%= link_to 'Show', @dog, :class => "btn text-white" %>
</div>

<div class="btn btn-primary text-white">
    <%= link_to 'Back', dogs_path, :class => "btn text-white" %>
</div>
